/* To select using class we ue (.) 
   To select using id we use (#)
*/

h1{
    color: rebeccapurple;
    
}

.invisible{
    visibility: hidden;
}

.huge{
    font-size: 10rem;
    color : yellow;
}
